.questionBody {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* justify-content: space-between;  */
    border-bottom: #000000 1px dashed;
}

.questionStatsContainer {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    margin-right: 40px; 
}

.voteContainerQuestion {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
}

.voteIcon {
    cursor: pointer;
    color: cornflowerblue; 
    transition: color 0.3s;
}

.voteIcon.active {
    color: black; /* Color changes to black when active */
}

.voteIcon.upvote:hover,
.voteIcon.downvote:hover {
    color: #000000; 
}

.voteIcon.upvote {
    margin-bottom: 5px;
}

.voteIcon.downvote {
    margin-top: 5px;
}

.answer_question_vote {
    font-size: 24px;
}


.answer_question_view {
    font-size: 24px;
}

.answer_question_text {
    width: 60%;
}

.answer_question_right {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

.error-message {
    color: red;
    font-size: 12px;
    padding-top: 10px;
}