.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 10%;
    width: 100%;
    background: #dddddd;
}

.title {
    font-size: 32px;
    font-weight: 800;
    margin-left: 20px;
    margin-right: 20px;
}

#searchBar {
    flex-grow: 1;
    margin-right: 20px;
}

.icons {
    display: flex; 
    align-items: center; 
    gap: 10px; /* Add space between icons */
    justify-content: flex-end; /* Aligns icons to the right */
    padding-right: 40px; 
}


.icon, .auth-buttons button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 20px; /* Icon size */
    color: #333; /* Icon color for better visibility */
}

.auth-buttons button {
    padding: 8px 12px; /* Padding for buttons */
    margin-left: 10px; /* Space between login and register buttons */
    background-color: #f0f0f0; /* Subtle background for buttons */
    border-radius: 4px; /* Rounded corners for buttons */
    font-weight: bold; /* Bold font for text in buttons */
}

.username {
    margin-left: 10px;
    font-size: 16px; /* Font size for username */
}

